body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(233, 220, 205);
}

header {
    width: 100%;
}

h2 {
    margin: 0 auto;
    text-align: center;
    color:rgb(243, 210, 167);
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

nav {
    background-color: rgb(180, 112, 63);
    padding: 6px 0px;
}

footer {
    background-color: rgb(180, 112, 63);
    padding: 10px 0px;
    margin-top: 60px;
}

#slogan {
    color: white;
    font-style: italic;
    margin-top: 4px;
}

#copy {
    color: white;
    font-size: 12px;
    margin-top: 15px;
}

nav ul li a {
    color: #fff;
}

a {
    text-decoration: none;
}

.activelink {
    color: #000;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    display: inline;
    margin-right: 60px;
    font-size: 16px;
    font-weight: 600;
}

#headerimg {
    width: 100%;
}

h1 {
    color: rgb(100, 68, 25);
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

p {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#booktable {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#booktable th {
    background-color:  rgb(100, 68, 25);
    color: white;
    padding: 20px 0px;
}

#booktable td {
    background-color:  rgb(163, 140, 110);
    color: black;
    padding: 10px 0px;
}

#booktable button {
    background-color: white;
    color: black;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

form input {
    padding: 6px;
    margin: 5px;
    border: 1px solid;
    border-radius: 8px;
}

#login {
    background-color: rgb(230, 184, 116);
    color: black;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.warning {
    color:rgb(189, 82, 50);
    text-align: center;
    margin: 0 auto;
}

#fileUpload {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

#bookcovers {
    columns: 3;
    width: 80%;
    margin: 0 auto;
}

.book {
    display: inline-block;
    margin: 30px 20px;
}

.book img {
    width: 100%;
}

#message {
    height: 150px;
    width: 50%;
    border: solid 1px black;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}

.contact {
    margin: 10px;
    width: 20%;
}

#contactform {
    width: 80%;
}

#send {
    background-color: rgb(230, 184, 116);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 16px;
}

#cats {
    width: 80%;
    margin: 0 auto;
}

#cats button {
    width: 30%;
    margin: 40px;
    padding: 20px 40px;
    background-color: rgb(230, 184, 116);
    color: black;
    border: none;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}